<div class="container mt-5">

  <h2>LowerCase Task</h2>
  <input 
  appLowerCase
  type="text" class="form-control">
  </div>
  <!-- <p basicCss>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis repellat possimus, sunt dolore nemo vero quidem a eveniet quo soluta amet cumque. Libero cupiditate adipisci perferendis consectetur, vero tempore cum?</p>
  <p basicCss>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis repellat possimus, sunt dolore nemo vero quidem a eveniet quo soluta amet cumque. Libero cupiditate adipisci perferendis consectetur, vero tempore cum?</p> -->
  
  
  <div class="container mt-4">
    <h2>Css High Lighter Directive</h2> 
    <p basicCss>JavaScript (JS) is a programming language used to make websites interactive and dynamic.</p>
  <p basicCss>Angular is a frontend framework used to build dynamic, single-page web applications (SPA) using
    TypeScript.</p>
  <p basicCss>MongoDB is a NoSQL database that stores data in JSON-like format (documents) instead of tables.</p>
  <p advanceCss>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis repellat possimus, sunt dolore nemo
    vero quidem a eveniet quo soluta amet cumque. Libero cupiditate adipisci perferendis consectetur, vero tempore cum?
  </p>
  <p advanceCss>Node.js is a runtime environment that allows you to run JavaScript outside the browser (on the server).
  </p>
  <p advanceCss>HTML (HyperText Markup Language) is the standard language used to create web pages. It defines the
    structure of a webpage using elements like headings, paragraphs, images, links, etc.</p>
  <p advanceCss>CSS (Cascading Style Sheets) is used to style and design HTML pages — like colors, layouts, spacing,
    fonts, etc.</p>

  </div>

  <!-- Credit Card -->
  <div class="container mt-4">
    <h3>Credit Card</h3>
    <div class="form-group">
      <input appCreditCard placeholder="credit card number" type="text" class="form-control">
    </div>

    <!-- <h3>Adhar card</h3>
    <div class="form-group">
      <input placeholder="adhar card number" type="text" class="form-control">
    </div> -->
  </div>
